<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
    
    <mat-toolbar>
        <header>
            <h1><strong>We Are Creative</strong></h1> 
            <nav>
                <ul class="nav_info">
                    <li><img src="{{ dataUser?.photoURL }}" referrerpolicy="no-referrer" alt="profile"></li>
                    <li><h2>{{ dataUser?.displayName }}</h2></li>
                    <li><h2>{{ dataUser?.email }}</h2></li>
                </ul>
            </nav>         
            <button type="button" (click)="logOut()">LOG OUT</button>
        </header>
    </mat-toolbar>
    
    <!-- Prueba tabla  -->
    <table>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th><mat-icon class="icon1" routerLink="/CreateRegister">add_circle</mat-icon></th>
        </tr>
        <tr *ngFor="let persona of usuarios">
          <td>{{persona.nombre }}</td>
          <td>{{persona.apellido}}</td>
          <td>{{persona.age}}</td>
          <td>{{persona.email}}</td>
          <td>{{persona.number}}</td>
          <td><mat-icon class="icon1">create</mat-icon> <mat-icon class="icon2">clear</mat-icon></td>
        </tr>
    </table>
      
                
</body>
