@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


html,
body {
  /* background: #505250a9; */

/* Ubicación de la imagen */
background-image: url('https://images.pexels.com/photos/205321/pexels-photo-205321.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
/* background-image: url('https://images.pexels.com/photos/2565919/pexels-photo-2565919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
/* Para dejar la imagen de fondo centrada, vertical y
horizontalmente */
background-position: center center;
/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;

}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.nav_info{
  list-style: none;
}
.nav_info li{
  display: inline-block;
  padding: 0px 30px;
}
img{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* transform: translate(1300%, 200%); */
}
h1{
  /* top,right,botton, left */
  padding: 0px 30px;
  text-align: center;
  font-size: x-large;
  font-family: 'Patrick Hand', cursive;
  color: blueviolet;
  /* transform: translate(0%,450%); */
}
h2{
  text-align: center;
  font-size: medium;
  font-family: 'Patrick Hand', cursive;
  color: blueviolet;
  /* transform: translate(0%,300%); */
}

p{
  text-align: center;
  font-size: large;
  font-family: 'Patrick Hand', cursive;
  color: blueviolet;
  /* transform: translate(0%,700%); */
}
button{
  padding: 9px 25px;
  text-align: center;
  color:white;
  background-color: #bcd8c1;
  border: none;
  border-radius: 50px; 
  cursor:pointer;
  font-size: large;
  font-family: 'Patrick Hand', cursive;
  transition: all 0.3s ease 0s;
  transform: translate(15rem, 0rem);
}
button:hover{
  background-color: #2d833c;
}

.demo-button {
  transform: translate(40rem, 0rem);
}

.icon1, .icon2{
  padding: 0px 10px;
  transform: translate(2rem, 0rem);
  cursor: pointer;
}

/* Tabla prueba */
table {
  text-align: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  transform: translate(0rem , 2rem);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}