<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
    
    <mat-toolbar>
        <header>
            <h1><strong>We Are Creative</strong></h1> 
            <nav>
                <ul class="nav_info">
                    <li><img src="{{ dataUser?.photoURL }}" referrerpolicy="no-referrer" alt="profile"></li>
                    <li><h2>{{ dataUser?.displayName }}</h2></li>
                    <li><h2>{{ dataUser?.email }}</h2></li>
                </ul>
            </nav>         
            <button type="button" (click)="logOut()">LOG OUT</button>
        </header>
    </mat-toolbar>

    <div class="demo-button-container">
        <button mat-raised-button (click)="addData()" class="demo-button" routerLink="/CreateRegister">
            <mat-icon>add</mat-icon>
        </button>
    </div>
      
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element">{{element.age}} <mat-icon class="icon1">create</mat-icon> <mat-icon class="icon2">clear</mat-icon></td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
      
                
</body>
