<body>
  <mat-card class="example-card">

    <mat-card-header>
      <div name="registro" mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="title">GLOBAL</mat-card-title>
    </mat-card-header>

    <!-- Fogot your password -->
    <mat-card-content>

      <mat-card-content class="example-forgot-password">
        <p>
          Forgot Your Password?
        </p>
      </mat-card-content>

      <mat-card-content class="example-forgot-password-text">

        <p>Password recovery instructions will be sent to the email specified in this record.</p>

      </mat-card-content>

      <form (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario"  class="example-form" method="post">
        <!--formulario Registro -->

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Ex. Esteban@gmail.com" name="email">
          <!-- <mat-icon> mail_outline</mat-icon> -->
          <!-- <mat-hint>Digita tu usuario</mat-hint> -->
          <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" class="text-danger">
            El <strong>correo</strong> es requerido
          </span>
          <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="text-danger">
            Esta <strong>no</strong>  es una dirección de <strong>correo</strong> válida
          </span>
        </mat-form-field>
        

        <mat-card-actions>
          <section>
            <div class="example-button-row">
              <button mat-button color="#ffffff" [disabled]="recuperarUsuario.invalid" type="submit">SEND</button>
            </div>
          </section>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</body>