<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
    <mat-card class="example-card">
  
      <mat-card-header>
        <mat-card-title class="title">CREATE REGISTER</mat-card-title>
      </mat-card-header>
  
      <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario" class="example-form">
        <!--formulario Registro -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="apellido" placeholder="Ex. Londoño Franco" name="apellido">
          <span *ngIf="registrarUsuario.get('apellido')?.hasError('required') && registrarUsuario.get('apellido')?.touched" class="text-danger">
            El <strong>apellido</strong> es requerido
          </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="nombre" placeholder="Ex. Esteban" name="nombre">
          <span *ngIf="registrarUsuario.get('nombre')?.hasError('required') && registrarUsuario.get('nombre')?.touched" class="text-danger">
            El <strong>nombre</strong> es requerido
          </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Ex. Esteban@gmail.com" name="email">
          <span *ngIf="registrarUsuario.get('email')?.hasError('required') && registrarUsuario.get('email')?.touched" class="text-danger">
            El <strong>correo</strong> es requerido
          </span>
          <span *ngIf="registrarUsuario.get('email')?.hasError('email') && registrarUsuario.get('email')?.touched" class="text-danger">
            Esta <strong>no</strong>  es una dirección de <strong>correo</strong> válida
          </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age" placeholder="Ex. 12"
              name="age">
            <span *ngIf="registrarUsuario.get('age')?.hasError('required') && registrarUsuario.get('age')?.touched" class="text-danger">
                La <strong> edad </strong> es requerida
            </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" formControlName="number" placeholder="Ex. 3138731987"
              name="number">
            <span *ngIf="registrarUsuario.get('number')?.hasError('required') && registrarUsuario.get('number')?.touched" class="text-danger">
                El <strong> número de celular </strong> es requerido
            </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address" placeholder="Ex. Av 8 cll 16"
              name="address">
            <span *ngIf="registrarUsuario.get('address')?.hasError('required') && registrarUsuario.get('address')?.touched" class="text-danger">
                La <strong> dirección </strong> es requerida
            </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="contraseña" placeholder="Ex. 1234abcjs"
            name="contraseña">
            <span *ngIf="registrarUsuario.get('contraseña')?.hasError('required') && registrarUsuario.get('contraseña')?.touched" class="text-danger">
              La <strong>contraseña</strong> es requerida
            </span>
            <span *ngIf="registrarUsuario.get('contraseña')?.hasError('minlength') && registrarUsuario.get('contraseña')?.touched" class="text-danger">
              La <strong>contraseña</strong> requeriere mínimo de 7 caracteres
            </span>
            <span *ngIf="registrarUsuario.get('contraseña')?.hasError('pattern') && registrarUsuario.get('contraseña')?.touched" class="text-danger">
              La <strong>contraseña</strong> requeriere mínimo una letra, un número y un caracter especial
            </span>
          
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm your Password</mat-label>
            <input matInput type="password" formControlName="contraseñarepe" placeholder="Ex. 1234abcjs"
              name="contraseña2">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="file"  name="pictureRegister">
        </mat-form-field>

        <mat-card-actions>
          <section>
            <div class="example-button-row">
              <button mat-button color="#ffffff" [disabled]="registrarUsuario.invalid" type="submit">SUBMIT</button>
            </div>
          </section>
        </mat-card-actions>
      </form>
       
  
    </mat-card>
  </body>
