@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
  width: 100%;
  padding: none;
  margin: none;
}

html,
body {
  /* Ubicación de la imagen */
  background-image: url('https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
  background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}

/* Tarjeta */
.example-card {
  max-width: 440px;
  margin: 0px auto;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem 2rem;
  margin: auto;
  border-radius: 10px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #9fa0a1, -7px -7px 20px #444343;
  color: black;
  transform: translate(3rem, 1rem);

}

.title {
  margin-top: 18%;
  text-align: center;
}

.example-header-image {
  margin-left: 30%;
  transform: translate(0%,20%);
}

/* Formulario */
.example-form {
  min-width: 150px;
  max-width: 400px;
  margin: auto;
  transform: translate(1%, 4%);
}

/* Campo de texto */
.example-full-width {
  max-width: 100%;
  display: block;
  margin-left: 8px;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background: #ebf5fc;
}

/* Texto de password */
.example-forgot-password-text p {
  display: flex;
  color: blueviolet;
  margin: 0 12px;
  font-size: medium;
  font-family: 'Patrick Hand', cursive;
}

.example-forgot-password-text p:hover {
  transform: translateX(3px) scale(1.07);
}

/* Texto requerido */
.text-danger{
  color: red;
}

